{% extends 'base.html.twig' %}

{% block title %}{{ jeu.titre }}{% endblock %}

{% block body %}

    {# ESPACE PRODUIT #}
        <games>
            <h2>{{ jeu.titre }}</h2><br>
            <div class="metadata">Publié le {{ jeu.CreatedAt | date("m/d/Y", "Europe/Paris") }} dans la catégorie Manga</div><br>
            <img style="border-radius: 10px" src="{{ jeu.image }}" alt=""><br><br>

            <div class="content">
                {{ jeu.details }}<br><br>
                <p>Prix : {{ jeu.prix }} €</p><a href="{{ path('panier_add', {'id': jeu.id}) }}" class="btn btn-secondary"><i class="fas fa-shopping-bag"></i></a>
                <hr>
            </div>
        </games>

    {# ESPACE COMMENTAIRES #}
        <h3>Commentaires :</h3><br>

        {% for commentaire in commentaires %}
            {{ commentaire.email }} le {{ commentaire.CreatedAt | date("m/d/Y H:s", "Europe/Paris") }} :
            <div class="container; max-width: 1500px">{{ commentaire.content }}</div><br>
        {% endfor %}

        {# Si l'utilisateur est connecté, il peut laisser un commentaire sinon il peut allez se connecter #}
        {% if app.user %}
            {{ form_start(commentForm) }}

            {{ form_row(commentForm.content) }}<br>
                <button type="submit" class="btn btn-success">Laissez votre avis !</button>
                <a href="{{ path('games') }}" class="btn btn-primary">CATALOGUE</a>
                
            {{ form_end(commentForm) }}
        {% else %}
            <a href="{{path('security_login')}}">Connectez-vous pour laisser votre avis !</a>
        {% endif %}

{% endblock %}